body {
  padding: 0;
  margin: 0;
  font-family: 'poppins';
  background: #e4e4e4;
}

a:hover {
  text-decoration: none;
}

.form-control:focus {
  border-color: #BE774C;
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}